name: Code Style Check

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_qa.txt
    - name: Code style with black
      run: |
        python -m black . --check
    - name: Code Style with linting
      run: |
        python -m pylint .
    - name: Imports order
      run: |
        python -m isort . --check
    - name: Type checking
      run: |
        python -m mypy .
